.container {
  padding: 0 10vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.childContainer {
  margin-top: 1.95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.txtXrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.95vw;
  font-weight: 600;
}
.txt p {
  font-size: 2.73vw;
  color: #1e293b;
}
.txt h3 {
  font-size: 3.32vw;
  display: flex;
  align-items: center;
  column-gap: 0.78vw;
  color: #f97316;
}
.mailBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mailBox h3 {
  color: #1e293b;
  font-size: 2vw;
}
.mailBox a {
  color: #6d28d9;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.25s;
}
.anim {
  height: 24vw;
}
.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.95vw;
  margin-top: 1.95vw;
}
.networks h3 {
  color: #1e293b;
  font-size: 1.6vw;
}
.networks ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 1.2vw;
}
.icon {
  font-size: 2.4vw;
  color: #6d28d9;
  transition: 0.25s;
}
.icon:hover,
.mailBox a:hover {
  transform: scale(1.1);
  color: #f97316;
}

/* For Large Screen */
@media only screen and (min-width: 481px) {
}

/* For Mobile Screen */
@media only screen and (max-width: 480px) {
  .container {
    padding: 25px 25px 10px 25px;
  }
  .childContainer {
    margin-top: 7.5px;
    justify-content: space-between;
  }
  .txtXrap {
    row-gap: 5px;
  }
  .txt p {
    font-size: 20px;
  }
  .txt h3 {
    font-size: 25px;
    column-gap: 5px;
  }
  .mailBox h3 {
    font-size: 15px;
  }
  .mailBox a {
    font-size: 15px;
  }
  .anim {
    height: 125px;
  }
  .networks {
    flex-direction: column;
    margin-top: 15px;
    row-gap: 10px;
  }
  .networks h3 {
    color: #1e293b;
    font-size: 15px;
  }
  .networks ul {
    column-gap: 10px;
  }
  .icon {
    font-size: 20px;
  }
}
